<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MedusaExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E350F4F20CE9BE100033139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E350F6320CE9BE200033139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E350F6E20CE9BE200033139</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
